html,
body,
#heading {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header{
    text-align: left;
    background: #FFFFFF;
    color: #818386;
    height: 44px;
    display: flex;
    align-items: center;
    font-family: 'Plus Jakarta Display',sans-serif;
    font-weight: bolder;
    font-size: 24pt;
}

.container {
    position: relative;
}

.header img {
    height: 40px;
    margin: 0 8px 0 8px;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: calc(100% - 44px);
    width: 100%
}

.projects-list {
    --calcite-ui-brand: #FAA21A;
    --calcite-ui-brand-hover: #008D52;
}

.projects-list calcite-chip {
      --calcite-ui-foreground-2: var(--calcite-ui-brand);
      --calcite-ui-text-1: white;
      margin-inline-end: .75rem;    
}

#program-filter {
/*        height: 160px;*/
        width: 100%;
        visibility: hidden;
      }

.program-item {
        width: 100%;
        padding: 7px;
        text-align: center;
        vertical-align: baseline;
        cursor: pointer;
/*        height: 40px;*/
    }

.program-item:focus {
        background-color: dimgrey;  
    }

.program-item:hover {
     background-color: dimgrey;
    }


/*
#info {
    background-color: white;
    opacity: 0.75;
    color: #818386;
    font-size: 18pt;
    padding: 8px;
    visibility: hidden;
}*/
